.result_conent{
    margin: 0 auto;
    padding: 60px 15px;
    max-width: 1230px;
}

.result{
    text-align: center;
}

.result_text--correct{
    color: #f00;
}

.result_text--incorrect{
    color: #00f;
}